.example-description {
    background-image: url("../img/purple-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-block: 60px;
    .example-description__content {
        margin: 0 auto;
        width: 80%;
        h2 {
            color: $white-txt;
            font-weight: 300;
            font-size: 24px;
        }
        strong {
            font-weight: 700;
            font-size: 26px;
        }
        span {
            font-weight: 700;
        }
    }
}