//Colors
$bg-color: #fefefe;
$white-txt: #ffffff;
$black-txt: #000000;

//Screen
$desktopMiddle: 1440px;
$desktopDefault: 1024px;
$tabletDefault: 768px;
$phoneFull: 650px;
$phoneDefault: 460px;
$phoneMin: 350px;
