.app-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/purple-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2% 4%;
  .app-description__content {
    h2 {
      font-weight: 700;
      font-size: 42px;
      color: $white-txt;
      width: 75%;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 120px;
      text-transform: uppercase;
      padding: 20px 40px;
      height: 64px;
      color: #5f2eea;
      background: #e4daff;
      border-radius: 40px;
      border: 8px solid #5f2eea;
      font-weight: 700;
      font-size: 22px;
    }
  }
}
