$PrimaryPrincipalColor: #430084;
$SecundaryPrincipalColor: #7BCDFF;
$PrimaryCrystalClearColor: #D9CCE6;
$MainSuccessColor: #00FD8D;
$WhiteColor: #FFFFFF;
$Gray100Color: #F9FAFB;
$Gray300Color: #DFE3E8;
$Gray400Color: #C4CDD5;
$Gray500Color: #919EAB;
$Gray600Color: #637381;
$Gray800Color: #212B36;
$Gray900Color: #161C24;
$TextPrimaryLightColor: #212B36;
$SelectedBulletColor: #FDFDFF;
$PurpleSolidColor: #4E0189;
$TitleColor: #5F2EEA