// ADICIONAR CAMINHO ABSOLUTO PARA FUNCIONAR

@font-face {
    font-family: Actay_Condensed_thin_italic;
    src: url(/resources/fonts/actay_condensed_thin_italic.otf);
}

@font-face {
    font-family: Actay_Regular;
    src: url(https://github.com/optheya/optheya.github.io/blob/master/resources/fonts/actay_regular.otf?raw=true);
}

@font-face {
    font-family: Actay_Regular_Italic;
    src: url(/resources/fonts/actay_regular_italic.otf);
}

@font-face {
    font-family: Actay_Wide_Bold;
    src: url(/Users/bersoncrios/Documents/Repositories/AppsOptheya/lp-optheya/resources/fonts/actay_wide_bold.otf);
}

@font-face {
    font-family: Actay_Wide_Bold_Italic;
    src: url(/resources/fonts/actay_wide_bold_italic.otf);
}

@font-face {
    font-family: Actay_Condensed_thin;
    src: url(/resources/fonts/actayc_condensed_thin.otf);
}

@font-face {
    font-family: Kyuren_light;
    src: url(/resources/fonts/kurye_light.otf);
}

@font-face {
    font-family: Kyuren_light_italic;
    src: url(/resources/fonts/kurye_light_italic.otf);
}