@import "reset.scss";
@import "colors.scss";
@import "fonts.scss";

// Variable overrides first
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

.presentation {
    background-image: url('https://github.com/optheya/lp-optheya/blob/master/resources/images/view-ra.png?raw=true');
    width: auto;
    height: 747px;
    background-repeat: no-repeat;
    background-size: cover;
}

.prepared {
    font-family: Actay_Regular;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    letter-spacing: 0.75px;
    color: $WhiteColor;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 17.4%;
    padding-right: 7.55%;
}

.logo {
    padding-right: 7.55%;
    padding-top: 6.6%;
}

.btn {
    --mo-btn-border-width: 6px !important;
    --mo-btn-border-radius: 40px;
}
.btn-primary {
    --mo-btn-color: #fff;
    --mo-btn-bg: #430084 !important;
    --mo-btn-border-color: ;
    --mo-btn-hover-color: #fff;
    --mo-btn-hover-bg:#430084 !important;
    --mo-btn-hover-border-color: #430084 !important;
    --mo-btn-focus-shadow-rgb: 49, 132, 253;
    --mo-btn-active-color: #fff;
    --mo-btn-active-bg: #430084!important;
    --mo-btn-active-border-color: #430084 !important;
    --mo-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --mo-btn-disabled-color: #fff;
    --mo-btn-disabled-bg: #430084 !important;
    --mo-btn-disabled-border-color: #430084 !important;
  }

  .experimet-btn {
    padding-right: 7.55%;
  }

  .space {
    padding: 1%;
  }

  .history {
    height: 21.25rem;
    background-image: linear-gradient(30deg, $PrimaryPrincipalColor, $PrimaryPrincipalColor, rgb(227, 119, 226));
  }

  .arrive {
    height: 37.688rem;
    background-image: linear-gradient(30deg, $PrimaryPrincipalColor, $PrimaryPrincipalColor, rgb(227, 119, 226));
  }

  .why_use {
    height: 30rem;
  }